body{
    font-family: "Noto Sans JP", sans-serif;
    background-color: #04030c;
}

header{
    color: #ffffff;
}

header .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    /* background-color: aqua; */
    margin: 0 auto;
    max-width: 1280px;
    padding: 20px;
}

header .logo{
    font-size: 24px;
    font-weight: 700;
}

header nav ul{
    display: flex;
}

header nav ul li{
    margin-left: 50px;
}

header nav ul li a{
    transition: .2s;
}

header nav ul li a:hover{
    transition: .2s;
    opacity: 0.6;
}



/* スマホサイズ */
@media only screen and (max-width:960px) {
    header .row{
        display: block;
    }

    header nav ul{
        justify-content:space-between;
        margin-top: 20px;
    }

    header nav ul li{
        margin-left: 0;
        font-size: 14px;
    }
}


/* メインビジュアル */
.main_visual{
    background-image: url("../images/ヘッダー画像案３.jpg");
    background-size: cover;
    background-position: center bottom;
    /* height: 100%;
    width: 100%; */
}

.main_visual .container{
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
    height: 640px;
    position: relative;
}

.main_visual h1{
    font-size: 70px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 24px;
}

.main_visual p{
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}

.main_visual .title{
    position: absolute;
    bottom: 200px;
   
}

@media only screen and (max-width:960px) {
    .main_visual h1{
        font-size: 38px;
    }

    .main_visual .container{
        height: 540px;
    }
}





/* セクション1 */

.section1{
    color: #ffffff;
    padding: 80px 0 ;
    /* background-color: aqua; */
}

.section1 .container{
    width: 90%;
    /* background-color: aqua; */
    max-width: 1280px;
    margin: 0 auto;
}

.section1 .row{
   display: flex; 
   justify-content: space-between;
       /* background-color: aqua; */


}
.section1 .col{
    width: 48%;
    /* background-color: aqua; */
}

.section1 .col img{
    margin-top: 50px;
    margin-left: 150px;
    border-radius:50%;
    width: 50%;
    height: 50%;

}

.section1 .col h5{
    margin-top: 20px;
    text-align: center;

}

.section1 .sub_title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.section1 h2{
    font-size: 45px;
    font-weight: 500;
    line-height: 1.6;
}

.section1 .text{
    font-size: 18px;
    line-height: 1.8;
    padding-top:50px ;
    padding-bottom: 50px;
}

 .btn{
    font-size: 18px;
    border:solid 3px #ffffff;
    border-radius: 100px;
    display: inline-block;
    width: 270px;
    line-height: 60px;
    text-align: center;
    transition: 0.2s;

}

.btn:hover{
    color: blue;
    border: solid 3px blue;
    transition: .2s;
}



/* スマホサイズ */
@media only screen and (max-width:960px) {
    .section1 .row{
        flex-wrap: wrap;
     }
     .section1 .col{
         width: 100%;
     }

     .section1 h2{
        font-size: 24px;
    }

    .section1 .text{
        font-size: 15px;
        line-height: 1.6;
        padding-top:30px ;
        padding-bottom: 40px;
    }

    .section1 .col img{
        margin-top: 50px;
        margin-left: 150px;
        border-radius:50%;
        width: 50%;
        height: 60%;
    
    }
}

/* セクション２ */
.section2{
    color: #ffffff;
    padding: 80px 0 ;
    /* background-color: aqua; */
}

.section2 .container{
    width: 90%;
    /* background-color: aqua; */
    max-width: 1280px;
    margin: 0 auto;
}

.section2 .sub_title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.section2 h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 60px;
}

.section2 .row{
    display: flex; 
    justify-content: space-between;
        /* background-color: aqua; */
    
    margin-bottom: 60px;
 
 }
 .section2 .col{
     width: 40%;
     margin-left: 30px;
     /* background-color: aqua; */
     position: relative;
 }

 .section2 img{
    border-radius: 20px;
 }

 .section2 h3{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;

 }

 .section2 .center{
    text-align: center;
 }


 @media only screen and (max-width:960px) {
    .section2 .row{
        display: flex; 

        margin-bottom: 20px;
        flex-wrap: wrap;
     
     }
     .section2 .col{
         width: 100%;
         margin-bottom: 45px;
     }

     .section2 h3{
        text-align: center;
        margin-top: 10px;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 30px;
    
     }


 }

/* セクション３ */
 .section3{
    color: #ffffff;
    /* padding: 80px 0 ; */
    /* background-color: aqua; */
    font-size: 18px;
    line-height: 1.8;
    padding-top:50px ;
    padding-bottom: 50px;
}

.section3 .container{
    width: 90%;
    /* background-color: aqua; */
    max-width: 1280px;
    margin: 0 auto;
}

.section3 .sub_title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.section3 h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
}

.section3 .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section3 .col{
    width: 48%;
}

.section3 .text{
    line-height: 1.8;
    margin-bottom: 50px;
}


.section3 img{
    border-radius: 20px;
}

@media only screen and (max-width:960px) {
    .section3 .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .section3 .col{
        width: 100%;
        margin-bottom: 30px;
    }
}

/* フッター */

footer{
    color: #ffffff;
    text-align: center;
    font-size: 12px;
}


footer .container{
    width: 90%;
    /* background-color: aqua; */
    max-width: 1280px;
    margin: 0 auto;
    border-top: solid 1px #ffffff;
    padding: 50px 0;
}

footer .logo{
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    margin-bottom:40px ;
}

footer ul {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

footer ul li{
  font-size: 15px;
  margin: 0 20px;  
}

footer ul li a:hover{
    transform: .2s;
    opacity: 0.6;
}


@media only screen and (max-width:960px) {
    footer .row{
        display: block;
    }

    footer nav ul{
        justify-content:space-between;
        margin-top: 20px;
    }

    footer nav ul li{
        margin-left: 0;
        font-size: 14px;
    }
}

/* 下層ページ共通 */
.page_main_visual{
    background-image: url("../images/ヘッダー画像案３.jpg");
    background-size: cover;
    background-position: center bottom;
    /* height: 100%;
    width: 100%; */
}

.page_main_visual .container{
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
    height: 300px;
    position: relative;
}

.page_main_visual .container .title h1{
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
}

.page_main_visual .container p{
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}

.page_main_visual .container .title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
   
}

@media only screen and (max-width:960px) {
    .page_main_visual .container h1{
        font-size: 38px;
    }

    .page_main_visual .container{
        height: 540px;
    }
}



/* 会社概要セクション1 */
.company_section1{
    color: #ffffff;
    /* padding: 80px 0 ; */
    /* background-color: aqua; */
    font-size: 18px;
    line-height: 1.8;
    padding-top:50px ;
    padding-bottom: 50px;
}

.company_section1 .container{
    width: 90%;
    /* background-color: aqua; */
    max-width: 1280px;
    margin: 0 auto;
}


.company_section1 .row{
    display: flex;
    justify-content: space-between;W
    align-items: center;
}

.company_section1 .col{
    width: 48%;
}


.company_section1 img{
    border-radius: 20px;
}

.company_section1 table{
    width: 100%;
}

.company_section1 table tr{
    padding: 20px 0;
    display: block;
    border-bottom:solid 1px #ffffff ;
    line-height: 1.5;
}

.company_section1 table tr th{
   width: 150px;
   /* background-color:aqua ; */
}

@media only screen and (max-width:960px) {
    .company_section1 .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .company_section1 .col{
        width: 100%;
        margin-bottom: 30px;
    }

    .company_section1 table tr th{
        width: 90px;
        /* background-color:aqua ; */
     }
     
}



/* 事業内容セクション１ */
.service_section1{
    color: #ffffff;
    /* padding: 80px 0 ; */
    /* background-color: aqua; */
    font-size: 18px;
    line-height: 1.8;
    padding-top:50px ;
    padding-bottom: 50px;
}

.service_section1 .container{
    width: 90%;
    /* background-color: aqua; */
    max-width: 1280px;
    margin: 0 auto;
}

.service_section1 .sub_title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.service_section1 h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
}

.service_section1 .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.service_section1 .col{
    width: 48%;
}

.service_section1 .text{
    line-height: 1.8;
    margin-bottom: 50px;
}


.service_section1 img{
    border-radius: 20px;
}

@media only screen and (max-width:960px) {
    .service_section1 .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .service_section1 .col{
        width: 100%;
        margin-bottom: 30px;
    }
}


/* リクルートセッション１ */
.recruit_section1{
    color: #ffffff;
    /* padding: 80px 0 ; */
    /* background-color: aqua; */
    font-size: 18px;
    line-height: 1.8;
    padding-top:50px ;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.recruit_section1 .container{
    width: 90%;
    /* background-color: aqua; */
    max-width: 1280px;
    margin: 0 auto;
}


.recruit_section1 .MIDASI{
   font-size: 24px;
   font-weight: 400;
   margin-bottom: 30px;
}

.recruit_section1 .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recruit_section1 .col{
    width: 48%;
}


.recruit_section1 img{
    border-radius: 20px;
}

.recruit_section1 table{
    width: 100%;
}

.recruit_section1 table tr{
    padding: 20px 0;
    display: block;
    border-bottom:solid 1px #ffffff ;
    line-height: 1.5;
}

.recruit_section1 table tr th{
   width: 150px;
   /* background-color:aqua ; */
}

.recruit_section1 table tr td{
    /* background-color: aqua; */
    padding-left: 30px;
 }

@media only screen and (max-width:960px) {
    .recruit_section1 .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .recruit_section1 .col{
        width: 100%;
        margin-bottom: 30px;
    }

    .recruit_section1 table tr th{
        width: 90px;
        /* background-color:aqua ; */
     }

     .recruit_section1 table tr th td{
        margin-left: 100px;
     }
     
}



/* お問い合わせ */
.contact_section1{
    color: #ffffff;
    /* padding: 80px 0 ; */
    /* background-color: aqua; */
    font-size: 18px;
    line-height: 1.8;
    padding-top:50px ;
    padding-bottom: 50px;
}

.contact_section1 .container{
    width: 90%;
    /* background-color: aqua; */
    max-width: 1280px;
    margin: 0 auto;
}




.apply-button {
    background-color: #6a1b9a; /* 紫色 */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; /* 上に余白を追加 */
    display: block; /* ボタンをブロック要素に */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
}